<form method = "post" action="/users">
  <input type="text" name="user[name]">
  <input type="email" name="user[email]">
  <input type="password" name="user[password]">
  <input type = "submit" value = "Submit it">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>